@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700);
@import "variables";
@import "mixins";
@import "layout";


///////////              header
.header {
  background-color: #EFEFEF;
  margin-bottom: 20px;
  @include respond(sm){
   margin-bottom: 10px;
  }
}
.menu {
  margin: 0 auto;
		&__list {
      display: flex;
      justify-content: center;
      gap: 30px;
      padding: 17px 0;
      flex-wrap: wrap;
      @include respond(sm){
         gap: 15px;
  }
		}
    li{
      a {
      color: #333333;
      font-size: 14px;
      @include respond(sm){
         font-size: 16px;
         }
      }
    }
}

///////////              main
///                      brand
.main {
  flex: 1 1 auto;
}
.brand {
  margin-bottom: 50px;
  @include respond(md){
      margin-bottom: 25px;
   }
		&__info {
      @include flex-between;
      @include respond(581px){
         @include flex-column;
            align-items: center;
      }
		}

		&__brand {
      display: flex;
      align-items: center;
		}

		&__logo {
		}

		&__name {
      font-weight: 700;
      font-size: 36px;
      line-height: 1;
      color: $second-bgc;
		}

		&__contacts {
      display: flex;
      align-items: center;
      gap: 40px;
      @include respond(sm){
         @include flex-column;
         gap: 20px;
         width: 100%;
      }
      @include respond(md){
         gap: 20px;
      }
		}

		&__tel a {
      cursor: pointer;
      color: #000000;
      @include respond(581px){
         font-size: 20px;
      }
		}

		&__cta {
      @extend %cta;
      @include respond(sm){
         font-size: 20px;
         width: 100%;
         text-align: center;
      }
      @include respond(581px){
         font-size: 20px;
         line-height: 2.2;
      }
		}
}

///////////              service


.service {
  margin: 0 auto 30px;
  @include respond(md){
   margin-bottom: 20px
  }
		&__service {
      
		}

		&__list {
      @include flex-between;
      justify-content: center;
      gap: 40px;
      @include respond(md){
         justify-content: space-between;
         gap: 20px;
      }
      @include respond(581px){
         gap: 20px;
         flex-direction: column;
         align-items: flex-start;
         
      }
		}
    li{
      a{
        text-decoration: none;
        color: #000000;
        font-size: 16px;
        @include respond(581px){
         font-size: 24px;
         }
      }
    }
}

///                  boss-block

.boss-block {
  background-color: $second-bgc;
  overflow: hidden;
  padding: 192px 0;
  @include respond(581px){
         padding: 80px 0;
      }
   @include respond(sm){
         padding: 30px 0;
      }
}

.chair {
   
		&__block {
      @include flex-between;
      @include respond(sm){
         @include flex-column;
         align-items: center;
      }
      
		}

		&__info {
      @include flex-column;
      color: #FFFFFF;
      max-width: 298px;
      position: relative;
      z-index: 5;
      @include respond(sm){
         margin-bottom: 20px;
         text-align: center;
      }
		}

		&__title {
      font-size: 48px;
      font-weight: 700;
      margin-bottom: 50px;
      white-space: nowrap;
      @include respond(sm){
         font-size: 36px;
         margin-bottom: 20px;
      }
      @include respond(581px){
         font-size: 44px;
         margin-bottom: 20px;
      }
		}

		&__text {
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 38px;
      @include respond(sm){
         margin-bottom: 20px;
      }
		}
    &__btn{
      max-width: 50%;
      border: 2px solid #FFFFFF;
      border-radius: 40px;
      padding: 12px 26px;
      line-height: 1;
      @include respond(sm){
         margin: 0 auto;
         width: 100%;
      }
      }
		&__cta {
      display: block;
      color: #FFFFFF;
      font-size: 14px;
      letter-spacing: 0.05em;
      text-align: center;
		}

		&__img {
      position: relative;
      left: 0%;
      &::before, 
      &::after{
        content: "";
        position: absolute;
        left: 0%;
        bottom: 0%;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        @include respond(sm){
         width: 150px;
         height: 150px;
         top: -30%;
         left: 10%;
      }
      }
      &::before{
        background-color: #F9ADC2;
        transform: translate(-12%, 0%) scale(3.5);
        z-index: 2;
      }
      &::after{
        background-color: #F57699;
        transform: translate(-15%, 0%) scale(4.5);
        z-index: 1;
      }
      img{
       position: relative;
       z-index: 3;
      }
		}
}

.offers {
    background-color: $main-bgc;
    padding: 80px 0 100px;
    @include respond(md){
         padding: 50px 0;
      }
		&__block {
      
		}
    &__title{
      font-weight: 700;
      font-size: 24px;
      line-height: 1;
      color: #000000;
      margin-bottom: 38px;
    }
		&__row {
      @include flex-between;
      @media (max-width:980px) {
         @include flex-column;
         gap: 20px;
         }
		}
    &__column{
      background-color: #ffffff;
      padding: 25px 0;
      display: flex;
      flex-direction: column;
      gap: 20px;
      // height: 100%;
      @media (max-width:980px) {
         @include flex-between;
         justify-content: space-between;
         align-items: center;
         padding: 25px 50px;
         }
         @include respond(md){
            @include flex-column;
         }
    }
		&__item {
         @include flex-column;
         align-items: center;
         gap: 20px;
         @media (max-width:980px) {
         @include flex-between;
         justify-content: space-between;
         align-items: center;
         @include respond(md){
            @include flex-column;
         }
         }
		}
      
		&__img {
         
		}

		&__text {
      font-size: 14px;
      line-height: 1.41;
      color: #333333;
      text-align: center;
      
      
      // max-width: 170px;
		}
      &__buy{
         
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 20px;
         @media (max-width:980px) {
         @include flex-between;
         justify-content: space-between;
         align-items: center;
         @include respond(md){
            @include flex-column;
         }
         }
      }
		&__price {
      color: #000000;
      font-weight: 500;
      font-size: 21px;
      letter-spacing: 0.05em;
      
		}

		&__cta {
      color: #FFFFFF;
      font-size: 14px;
      letter-spacing: 0.05em;
      background-color: $second-bgc;
      border-radius: 30px;
      padding: 9px 52px;
		}
}

.about {
  background-color: $main-bgc;
  padding-bottom: 100px;
  @include respond(md){
         padding-bottom: 60px;
      }
		&__us {
      
		}

		&__row {
      @include flex-between;
      gap: 30px;
      align-items: stretch;
		}

		&__column {
      flex: 1 1 auto;
		}

		&__item {
      @include flex-between;
      align-items: center;
      background-color: $second-bgc;
      height: 100%;
      padding: 35px 40px;
      @include respond(sm){
         padding: 20px;
         @include flex-column;
      }
		}

		&__info {
      @include flex-column;
      gap: 25px;
      color: #FFFFFF;
      @include respond(sm){
         align-items: center;
      }
		}

		&__title {
      font-size: 18px;
      font-weight: 700;
		}

		&__text {
      font-size: 14px;
      max-width: 125px;
      line-height: 1.4;
      @include respond(sm){
         max-width: 100%;
         text-align: center;
      }
		}

		&__email {
      input{
        border-radius: 30px;
        color: #C4C4C4;
        padding: 9px 35px 9px 25px ;
      }
		}

		&__img {
         
         
      img{
        object-fit: cover;
        height: 100%;
      }
		}

		&__btn {
      
      
		}

		&__cta {
      display: inline-block;
      border: 2px solid #FFFFFF;
      border-radius: 30px;
      color: #FFFFFF;
      padding: 9px 45px;
      text-align: center;
      @include respond(sm){
         margin-bottom: 20px;
      }
		}
}


.impuls {
  background-color: $main-bgc;
		&__block {
      background-color: #FFFFFF;
      padding: 35px 60px;
      @include respond(581px){
         padding: 20px 30px;
      }
      @include respond(lg){
         padding: 25px 40px
         
      }
		}

		&__row {
      @include flex-between;
      gap: 100px;
      @include respond(md){
         @include flex-column;
         align-items: center;
         
      }
      @include respond(lg){
         gap: 18px;
      }
      &:not(:last-child){
        margin-bottom: 70px;
      }
      
		}

		&__item {

		}
}

.categories {

		&__block {
      margin: 60px 0 100px;
      @include respond(md){
         margin: 30px 30px;
      }
		}

		&__row {
      @include flex-between;
      @include respond(581px){
         flex-direction: column;
         gap: 20px;
         align-items: center;
      }
		}

		&__column {
      @include respond(md){
         
         flex: 1 1 50%;
      }
         
		}

		&__item {
         @include respond(md){
         display: flex;
         flex-direction: column;
         align-items: center;
         margin-bottom: 20px;
         
      }
		}

		&__title {
      margin-bottom: 55px; 
      font-weight: 500;
      line-height: 1.4;
      color: #000000;
      font-size: 16px;
      @include respond(md){
         margin-bottom: 20px;
      }
		}

		&__list {
      ul{
        li{
          color: #828282;
          font-size: 12px;
          line-height: 28px;
          @include respond(581px){
            font-size: 16px;
      }
        }
      }
		}
}


.contacts {

		&__block {
      padding-bottom: 38px;
      @include respond(581px){
         padding-bottom: 10px;
      }
		}

		&__row {
      @include flex-between;
      @include respond(581px){
         @include flex-column;
         gap: 20px;
      }
		}

		&__social {
      @include flex-between;
      gap: 20px;
      @include respond(581px){
         justify-content: space-evenly;
      }
      img{
        width: 45px;
        height: 45px;
        border: 2px solid #F13C6E;
        border-radius: 50%;
        padding: 7px;
        overflow: visible;
      }
		}
		&__data {
      display: flex;
      align-items: center;
      gap: 40px;
      @include respond(581px){
         flex-direction: column;
         gap: 20px;
      }
		}
}


.footer {
  background-color: #EFEFEF;
		&__block {
      padding: 25px 0;
      @include respond(581px){
         padding: 10px 0;
      }
		}

		&__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #828282;
      font-size: 12px;
      @include respond(581px){
         @include flex-column;
         gap: 5px;
      }
		}
}